<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Actualizar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    
    
        <script>
            const botonCerrarSesion = () => {
                if(window.confirm("¿Está Seguro De Querer Cerrar La Sesión?")){
                    window.location.href = "/logout";
                }
            }
        </script>

		<script>
			const botonActualizar = () => {
				window.confirm("¿Está seguro(a) de querer actualizar el registro?")
			}
		</script>
    
    </head>
    <body>
        
        <div>

            <nav class="navbar navbar-expand-lg" style="background-color:lightgray">
                <div class="container-fluid">
                    <a class="nav-link" href="/menu">
                        <h2>USUARIO : {{ nombre_usuario }} </h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <h3><a class="nav-link" href="/form_registrar">Formulario</a></h3>
                            <h3><a class="nav-link" href="/listado">Listado</a></h3>
                            <h3><a class="nav-link" href="#" onClick="botonCerrarSesion()">Cerrar Sesión</a></h3>
                        </div>
                    </div>
                </div>
            </nav>

        </div>

        {% if r1 %}
        <center>
            <div id="mensajes" class="pt-2   pb-2">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ r1 }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </center>
        {% endif %}

        {% if r2 %}
        <center>
            <div id="mensajes" class="pt-2   pb-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ r2 }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </center>
        {% endif %}


        <div class="container mt-3 pt-3 pb-3" style="background-color:lightgray">
            
            <h1 class="text-center">Formulario de Edición de Pedidos</h1>
            <center>
                <form  action="/form_actualizar/{{ pantalon.id }}"   method="POST"  class="col-9" >
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <input type="text" name="nombre_cliente" id="nombre_cliente" class="form-control form-control-lg text-center" placeholder="Nombre cliente" value="{{ pantalon.nombre_cliente }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="telefono" id="telefono" class="form-control form-control-lg text-center" placeholder="Teléfono" value="{{ pantalon.telefono }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="contorno_cadera" id="contorno_cadera" class="form-control form-control-lg text-center" placeholder="Contorno cadera (cm)" value="{{ pantalon.contorno_cadera }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="altura_cadera" id="altura_cadera" class="form-control form-control-lg text-center" placeholder="Altura cadera (cm.)" value="{{ pantalon.altura_cadera }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="contorno_cintura" id="contorno_cintura" class="form-control form-control-lg text-center" placeholder="Contorno cintura (cm.)" value="{{ pantalon.contorno_cintura }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="largo_pierna" id="largo_pierna" class="form-control form-control-lg text-center" placeholder="Largo pierna (cm.)" value="{{ pantalon.largo_pierna }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="largo_tiro" id="largo_tiro" class="form-control form-control-lg text-center" placeholder="Largo tiro (cm.)" value="{{ pantalon.largo_tiro }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="largo_rodilla" id="largo_rodilla" class="form-control form-control-lg text-center" placeholder="Largo rodilla (cm.)" value="{{ pantalon.largo_rodilla }}" required/>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="ancho_pantalon" id="ancho_pantalon" class="form-control form-control-lg text-center" placeholder="Ancho pantalón (cm.)" value="{{ pantalon.ancho_pantalon }}" required/>
                    </div>

                    <button class="btn btn-dark btn-lg" type="submit" onclick="botonActualizar()">Modificar Pantalón</button>
                </form>
            </center>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    </body>
</html>