<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Listado</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    
        
		<script>
            const botonCerrarSesion = () => {
                if(window.confirm("¿Está Seguro De Querer Cerrar La Sesión?")){
                    window.location.href = "/logout";
                }
            }
        </script>

		<script>
			const botonEliminar = (id) => {
				if(window.confirm("¿Está seguro(a) de querer eliminar el registro?")){
					window.location.href = "/eliminar/"+ id;
				}
			}
		</script>

    </head>
    <body>
        
        <div>

            <nav class="navbar navbar-expand-lg" style="background-color:lightgray">
                <div class="container-fluid">
                    <a class="nav-link" href="/menu">
                        <h2>USUARIO : {{ nombre_usuario }}</h2>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <h3><a class="nav-link" href="/form_registrar">Formulario</a></h3>
                            <h3><a class="nav-link" href="/listado">Listado</a></h3>
                            <h3><a class="nav-link" href="#" onClick="botonCerrarSesion()">Cerrar Sesión</a></h3>
                        </div>
                    </div>
                </div>
            </nav>

        </div>


        {% if r1 %}
        <center>
            <div id="mensajes" class="pt-2   pb-2">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ r1 }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </center>
        {% endif %}

        {% if r2 %}
        <center>
            <div id="mensajes" class="pt-2   pb-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ r2 }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </center>
        {% endif %}

        <div class="container mt-3 pt-3 pb-3" style="background-color:lightgray">
            
            <h1 class="text-center">Listado de pedidos de pantalones</h1>
            <center>
                {% if pantalones %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="text-center">
                        <th>Nombre cliente</th>
                        <th>Teléfono</th>
                        <th>Contorno cadera</th>
                        <th>Altura cadera</th>
                        <th>Contorno cintura</th>
                        <th>Largo pierna</th>
                        <th>Largo tiro</th>
                        <th>Largo rodilla</th>
                        <th>Ancho pantalón</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for pantalon in pantalones %}
                    
                        
                            <tr class="text-center" >
                                <td>{{ pantalon.nombre_cliente }}</td>
                                <td>{{ pantalon.telefono }}</td>
                                <td>{{ pantalon.contorno_cadera }}</td>
                                <td>{{ pantalon.altura_cadera }}</td>
                                <td>{{ pantalon.contorno_cintura }}</td>
                                <td>{{ pantalon.largo_pierna }}</td>
                                <td>{{ pantalon.largo_tiro }}</td>
                                <td>{{ pantalon.largo_rodilla }}</td>
                                <td>{{ pantalon.ancho_pantalon }}</td>
                                <td>
                                    <a href="/form_actualizar/{{ pantalon.id }}" class="btn btn-lg">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-outline-dark" onclick="botonEliminar({{ pantalon.id }})">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                    <p>No hay registros.</p>
                {% endif %}
            </center>

        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    </body>
</html>